.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  margin-left: 300px;
  margin-right: 275px;
}

.carousel img {
  height: 300px;
  width: 318px;
}

.navbar {
  border-radius: 30px;
}

.navbar-brand {
  color: rgb(224, 224, 224);
  font-family: 'Courier New', Courier, monospace;
}

.card {
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 50px;
}

.card-body {
  margin-left: 30px;
}